.funBusPic {
  border-radius: 10px;
}
.welcome {
  margin-top: 2%;
}
.content-section {
  display: flex;
  justify-content: space-between;
  .text-content1 {
    width: 48%;
    @media @mobile {
      flex-direction: column;
      width: 100%;
    }
  }

.img-content1 {
  width: 40%;
  padding-right: 1%;
  border-radius: 10px;
  display: flex;
  @media @mobile {
    flex-direction: column;
    width: 100%;
  }
  }
}

.content-section-inverse-content{
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  .img-content2 {
    max-width: 100%;
    min-width: 100px;
    height: auto;
    border-radius: 10px;
    @media @mobile {
      width: 100%;
    
  }
}
    .text-content2 {
      display: flex;
    
      width: 40%;
      @media @mobile {
        flex-direction: column;
        width: 100%;
      
      }
    }
}
  .content-destination {
    align-content: center;
    align-items: center;
    margin-left: 5%;
    margin-top: 2%;
    img {
      border-radius: 10px;
      @media @mobile {
      max-width: 100%;
      min-width: 100px;
      height: auto;
      }
    }
  }

    .content-pick {
      padding-top: 10px;
      padding-bottom: 10px;
      display: flex;
      justify-content: space-between;
      @media @mobile {
        flex-direction: column;
      }
      .destination {
      justify-content: space-between;
      margin: 2%;
      flex-direction: row;
      @media @mobile {
        width: 100%;
        flex-direction: column;
      }
      }
}

hr {
  border-top: none;
  border-bottom: 4px dashed silver;
}

.btn {
    background-color: @eastern-blue;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 40px;
    padding: 5%;
    text-align: center;  
    @media @mobile {
      width: 100%;
      font-size: 2em;
    }
  }
