// Mixins in here
@border-line: 2px dashed lightgray;

.spacing(@m, @p) {
    margin: @m;
    padding: @p;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

